.Le_react_Date{
    margin: 50px auto;
    width: 500px;
    min-height: 300px;
    border: 1px solid red; 
    overflow-wrap: break-word;
    border-radius: 3px;
    overflow: hidden;

    .picker__title{
        background-color: #1867c0 !important;
        border-color: #1867c0 !important;
        padding: 16px;
        color: #fff;

        div{
            opacity: .6;
            cursor: pointer;
        }
        .active{
            opacity: 1;
            font-size: 34px;
            text-align: left;
            font-weight: 500;
            position: relative;
            overflow: hidden;
            padding-bottom: 8px;
            margin-bottom: -8px;
        } 
    }
    .picker__body{
        .date-picker-header{
            padding: 4px 16px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            position: relative;
            .header_value{
                flex: 1;
                text-align: center;
                position: relative;
                overflow: hidden;
            }
        }
        .picker-table{
            position: relative;
            padding: 0 12px;
            height: 242px;

            table{
                width: 100%;
                border-collapse: separate;
                border-spacing: 2px;//设置th之间的距离
                th,td{
                    padding: 8px 0;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 22px;
                }
                th{
                    color: rgba(0,0,0,.38);
                }
                td{
                    // width: 45px;
                    text-align: center;
                    position: relative;

                    span{
                        display: block;
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                        border-radius: 50%;
                        margin: 0 auto;
                    }
                }
                .accent{
                    background-color: #005caf !important;
                    border-color: #005caf !important;
                    color: #fff;
                }
            }

            
        }
    }
}