.Le_react_checkbox{
    width: 500px;
    border: 1px solid red;
    min-height: 100px;
    ul,li{
        list-style: none;
    }
    .Le_react_checkbox_label{
        width: 100%;
        font-size: 14px;
        color: #333;
    }
}