
.Le_react_table{
    .title{
        height: 36px;
        line-height: 36px;
        background-color: #434e5b;
        color: #fff;
        text-align: center;
        border-radius: 3px 3px 0 0 ;
    }
    .tableContent{
        width: 100%;
        min-height:200px ;
        border: 1px solid red;
    }
}
